<aside class="sidebar">

    <div class="brand">

        <h2>LBH BIMA SAKTI</h2>

        <span>Admin Panel</span>

    </div>

    <nav>

        <a href="dashboard.html" data-page="dashboard">
            Dashboard
        </a>

        <a href="article.html" data-page="article">
            Artikel
        </a>

        <a href="lawyer.html" data-page="lawyer">
            Profil Advokat
        </a>

        <a href="#" id="websitePage">
            Halaman Website
        </a>

        <a href="#" id="logout">
            Logout
        </a>

    </nav>

</aside>